<?xml version="1.0" encoding="utf-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans" xmlns:p="http://www.springframework.org/schema/p"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
	http://www.springframework.org/schema/tx
	http://www.springframework.org/schema/tx/spring-tx-4.3.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context-4.3.xsd"
       default-autowire="byName">
    <!-- 自动扫描该包下的类（在根容器中） -->
    <context:component-scan base-package="service.impl"/>

    <bean class="org.springframework.context.support.ReloadableResourceBundleMessageSource"
        p:basename="classpath:messages_zh_CN"/>

    <bean id="dataSource" class="org.apache.ibatis.datasource.pooled.PooledDataSource"
        p:driver="com.mysql.jdbc.Driver"
        p:url="jdbc:mysql://localhost:3306/exam_score?useUnicode=true&amp;characterEncoding=UTF-8&amp;useSSL=false"
        p:poolPingEnabled="true" p:poolPingQuery="select 1" p:poolPingConnectionsNotUsedFor="3600000"
        p:username="root" p:password="qq123456"/>


    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean"
          p:configLocation="classpath:mybatis-config.xml"
          p:typeAliasesPackage="entity"
          p:dataSource-ref="dataSource">
        <property name="mapperLocations">
            <array>
                <value>classpath:mapper/*Mapper.xml</value>
            </array>
        </property>
    </bean>

    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer"
          p:basePackage="mapper"/>

    <bean id="txManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager"
          p:dataSource-ref="dataSource"/>
    <tx:annotation-driven transaction-manager="txManager"/>

</beans>
