<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.ScoreMapper">

    <select id="selectByExamId" resultType="Score">
        SELECT chineseRank,b.stu_num,stu_name,chinese_score FROM (SELECT @rownum:=@rownum+1 AS
        chineseRank,stu_num,chinese_score FROM score_inf,(SELECT @rownum:=0) r WHERE exam_id = #{id}
        ORDER BY chinese_score DESC) b LEFT OUTER JOIN stu_inf ON b.stu_num = stu_inf.stu_num
        ORDER BY chineseRank ASC
    </select>
    <insert id="insertMany">
        INSERT INTO score_inf(exam_id,stu_num,chinese_score) VALUES
        <foreach collection="list" item="score" separator=",">
            (#{score.examId},#{score.stuNum},#{score.chineseScore})
        </foreach>
    </insert>
    <update id="updateByExamIdAndStuId">
        UPDATE score_inf SET chinese_score = #{chineseScore}
        WHERE exam_id = #{examId} AND stu_num = #{stuNum}
    </update>
    <delete id="deleteByExamId">
        DELETE FROM score_inf WHERE exam_id = #{id}
    </delete>
    <delete id="deleteAll">
        truncate score_inf
    </delete>
</mapper>